body
{
	background-color:#add8e6;
}

.errornotice
{
	color:red;
	font-weight:bold;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #f8f9fa;
	width: 100%;
}
.navbar {
	background-color: #f8f9fa;
}

.nav-item {
	margin-right: 5px;
}

.galleryItem {
	height: 200px;
	width: 300px;
}