html {
	height: 100%;
}
body
{
	background-color:#add8e6;
	padding-bottom: 6rem;
}

.errornotice
{
	color:red;
	font-weight:bold;
}

.footer {
	background-color: #f8f9fa;
}
.navbar {
	background-color: #f8f9fa;
}

.nav-item {
	margin-right: 5px;
}
.galleryItem {
	margin: 15px;
}
p {
	margin-left: 0px;
	margin-bottom: 0px;
	width: 100%;
}
.button-downvote {
	height: 15px;
	width: 20px;
}
.button-upvote {
	height: 15px;
	width: 20px;
}
.btnRow {
	padding-left: 16%;
}
.buttonCont { 
	padding: 0;
}